<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2"/>
  </configSections>
  <sustainsys.saml2 entityId="https://github.com/Sustainsys/Saml2">
    <serviceCertificates>
      <add fileName="Sustainsys.Saml2.Tests2.pfx"/>
    </serviceCertificates>
    <identityProviders>
      <add entityId="https://idp.example.com" signOnUrl="https://idp.example.com/idp" logoutUrl="https://idp.example.com/logout" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx"/>
        <artifactResolutionServices>
          <add index="4660" location="http://localhost:13428/ars"/>
        </artifactResolutionServices>
      </add>
      <add entityId="https://idp2.example.com" signOnUrl="https://idp2.example.com/idp" allowUnsolicitedAuthnResponse="false" binding="HttpRedirect" wantAuthnRequestsSigned="true">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx"/>
      </add>
      <add entityId="https://idp4.example.com" signOnUrl="https://idp4.example.com/idp" allowUnsolicitedAuthnResponse="false" binding="HttpPost" outboundSigningAlgorithm="sha256" wantAuthnRequestsSigned="true">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx"/>
      </add>
    </identityProviders>
  </sustainsys.saml2>
  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <securityTokenHandlers>
        <securityTokenHandlerConfiguration>
          <audienceUris mode="Never"/>
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
