<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices" />
  </configSections>
  <kentor.authServices entityId="https://github.com/KentorIT/authservices"
                       returnUrl="http://localhost/LoggedIn">
    <serviceCertificates>
      <add fileName="Kentor.AuthServices.Tests2.pfx" />
    </serviceCertificates>
    <identityProviders>
      <add entityId="https://idp.example.com"
           signOnUrl="https://idp.example.com/idp"
           logoutUrl="https://idp.example.com/logout"
           allowUnsolicitedAuthnResponse="true"
           binding="HttpRedirect">
        <signingCertificate fileName="Kentor.AuthServices.Tests.pfx" />
        <artifactResolutionServices>
          <add index="4660" location="http://localhost:13428/ars" />
        </artifactResolutionServices>
      </add>
      <add entityId="https://idp2.example.com"
           signOnUrl="https://idp2.example.com/idp"
           allowUnsolicitedAuthnResponse="false"
           binding="HttpRedirect"
           wantAuthnRequestsSigned="true">
        <signingCertificate fileName="Kentor.AuthServices.Tests.pfx" />
      </add>
      <add entityId="https://idp4.example.com"
           signOnUrl="https://idp4.example.com/idp"
           allowUnsolicitedAuthnResponse="false"
           binding="HttpPost"
           outboundSigningAlgorithm="sha256"
           wantAuthnRequestsSigned="true">
        <signingCertificate fileName="Kentor.AuthServices.Tests.pfx" />
      </add>
    </identityProviders>
    <federations>
      <add metadataLocation="federation.xml" allowUnsolicitedAuthnResponse="true" />
    </federations>
  </kentor.authServices>
  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <claimsAuthenticationManager type="Kentor.AuthServices.TestHelpers.ClaimsAuthenticationManagerStub, Kentor.AuthServices.TestHelpers" />
      <securityTokenHandlers>
        <securityTokenHandlerConfiguration>
          <audienceUris mode="Never" />
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
</configuration>