@model System.Collections.Generic.IEnumerable<System.Security.Claims.Claim>
@{
    ViewBag.Title = "Secure";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a secure page that only works when logged in.</p>
<p>Claims:</p>
<ul>
    @foreach(var claim in Model)
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>