<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.0-preview1-41102095947" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.0-preview1-41102095947" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="5.2.0-preview1-41102095947" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Xml" version="5.2.0-preview1-41102095947" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net462" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net461" />
</packages>