<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="saml2AuthenticationModule" type="Kentor.AuthServices.Configuration.Saml2AuthenticationModuleSection, Kentor.AuthServices"/>
  </configSections>
  <saml2AuthenticationModule assertionConsumerServiceUrl="http://localhost/Saml2AuthenticationModule/acs"
                             issuer="https://github.com/KentorIT/authservices"
                             returnUri="http://localhost/LoggedIn">
    <identityProviders>
      <add issuer="https://idp.example.com" destinationUri="https://idp.example.com/idp" binding="HttpRedirect" signingCertificateFile="Kentor.AuthServices.Tests.pfx"/>
    </identityProviders>
  </saml2AuthenticationModule>
</configuration>