<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices" />
  </configSections>
  <kentor.authServices entityId="https://github.com/KentorIT/authservices" 
                       returnUri="http://localhost/LoggedIn" >
    <metadata cacheDuration="0:0:42">
      <organization name="name" displayName="displayName" url="http://url.example.com" />
    </metadata>
    <identityProviders>
      <add entityId="https://idp.example.com" destinationUri="https://idp.example.com/idp" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="Kentor.AuthServices.Tests.pfx" />
      </add>
      <add entityId="https://idp2.example.com" destinationUri="https://idp2.example.com/idp" allowUnsolicitedAuthnResponse="false" binding="HttpRedirect">
        <signingCertificate fileName="Kentor.AuthServices.Tests.pfx" />
      </add>
      <add entityId="http://localhost:13428/idpMetadata" allowUnsolicitedAuthnResponse="true" loadMetadata="true" />
    </identityProviders>
    <federations>
      <add metadataUrl="http://localhost:13428/federationMetadata"
           allowUnsolicitedAuthnResponse="true" />
    </federations>
  </kentor.authServices>
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthenticationManager type="Kentor.AuthServices.Tests.ClaimsAuthenticationManagerStub, Kentor.AuthServices.Tests" />
    </identityConfiguration>
  </system.identityModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>