<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices"/>
  </configSections>
  <kentor.authServices assertionConsumerServiceUrl="http://localhost/Saml2AuthenticationModule/acs"
                             issuer="https://github.com/KentorIT/authservices"
                             returnUri="http://localhost/LoggedIn">
    <identityProviders>
      <identityProvider issuer="https://idp.example.com" destinationUri="https://idp.example.com/idp" binding="HttpRedirect">
        <signingCertificate fileName="Kentor.AuthServices.Tests.pfx" />
      </identityProvider>
    </identityProviders>
  </kentor.authServices>
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthenticationManager type="Kentor.AuthServices.Tests.ClaimsAuthenticationManagerStub, Kentor.AuthServices.Tests"/>
    </identityConfiguration>    
  </system.identityModel>
</configuration>