<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="Sustainsys.Saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2" />
  </configSections>
  <Sustainsys.Saml2 entityId="https://github.com/SustainsysIT/Saml2">
    <identityProviders>
      <add entityId="https://idp.example.com"
           signOnUrl="https://idp.example.com/idp"
           logoutUrl="https://idp.example.com/logout"
           allowUnsolicitedAuthnResponse="true"
           binding="HttpRedirect">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx" />
        <artifactResolutionServices>
          <add index="4660" location="http://localhost:13428/ars" />
        </artifactResolutionServices>
      </add>
    </identityProviders>
  </Sustainsys.Saml2>
</configuration>