<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2"/>
  </configSections>
  <sustainsys.saml2 entityId="https://github.com/SustainsysIT/Saml2" returnUrl="http://localhost/LoggedIn" outboundSigningAlgorithm="sha256" minIncomingSigningAlgorithm="sha1">
    <nameIdPolicy allowCreate="true" format="EntityIdentifier"/>
    <requestedAuthnContext classRef="PasswordProtectedTransport" comparison="Minimum"/>
    <metadata cacheDuration="PT42S" validDuration="12:13:14">
      <organization name="name" displayName="displayName" url="http://url.example.com" language="sv"/>
      <contactPerson type="Support" company="Sustainsys" givenName="Anders" surname="Abel" phoneNumber="+46 708 96 50 63" email="anders.abel@Sustainsys.se"/>
      <!-- Deliberately empty -->
      <contactPerson type="Technical"/>
      <contactPerson type="Technical" email="info@Sustainsys.se"/>
      <requestedAttributes>
        <add friendlyName="Some Name" name="urn:someName" nameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" isRequired="true"/>
        <add name="Minimal"/>
      </requestedAttributes>
    </metadata>
    <serviceCertificates>
      <add fileName="Sustainsys.Saml2.Tests2.pfx" use="Signing, Encryption, TlsClient"/>
    </serviceCertificates>
    <identityProviders>
      <add entityId="https://idp.example.com" signOnUrl="https://idp.example.com/idp" logoutUrl="https://idp.example.com/logout" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx"/>
        <artifactResolutionServices>
          <add index="4660" location="http://localhost:13428/ars"/>
        </artifactResolutionServices>
      </add>
      <add entityId="https://idp2.example.com" signOnUrl="https://idp2.example.com/idp" allowUnsolicitedAuthnResponse="false" binding="HttpRedirect" wantAuthnRequestsSigned="true">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx"/>
      </add>
      <add entityId="http://localhost:13428/idpMetadata" allowUnsolicitedAuthnResponse="true" loadMetadata="true"/>
      <add entityId="https://idp4.example.com" signOnUrl="https://idp4.example.com/idp" allowUnsolicitedAuthnResponse="false" binding="HttpPost" outboundSigningAlgorithm="sha256" wantAuthnRequestsSigned="true">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx"/>
      </add>
    </identityProviders>
    <federations>
      <add metadataLocation="http://localhost:13428/federationMetadataSigned" allowUnsolicitedAuthnResponse="true">
        <signingCertificate fileName="Sustainsys.Saml2.Tests.pfx"/>
        <signingCertificate fileName="Sustainsys.Saml2.Tests2.pfx"/>
      </add>
      <add metadataLocation="http://localhost:13428/federationMetadata" allowUnsolicitedAuthnResponse="true"/>
    </federations>
  </sustainsys.saml2>
  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\\temp\\logs\\XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
