<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="coveralls.net" version="0.7.0" targetFramework="net461" developmentDependency="true" />
  <package id="FluentAssertions" version="5.2.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Xml" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="ReportGenerator" version="3.1.2" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
</packages>