<div class="col-lg-4 card">
    <h2>About</h2>
    <div class="contents">
        <p>
            The Stub Idp is part of the <a href="https://github.com/Sustainsys/Saml2">
                Sustainsys.Saml2
            </a> open source package for ASP.NET.
        </p>
        <p>
            The SAML messages sent by the Stub Idp will be signed with
            @Html.ActionLink("this certificate", "Index", "Certificate").
            To validate the responses you need to download it and configure your
            service provider to trust it.
        </p>
        <div class="panel panel-warning">
            <div class="panel-heading">
                Warning
            </div>
            <div class="panel-body">
                Never trust the stub idp certificate in a production environment as it will
                allow anyone to sign in to your application as whatever user they choose.
            </div>
        </div>
        @Html.Partial("_MetadataLink")
        <p>
            The stub idp also features
            @Html.ActionLink("single logout support", "Index", "Logout").
        </p>
    </div>
</div>
