<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices" />
  </configSections>
  <kentor.authServices entityId="https://github.com/KentorIT/authservices">
    <identityProviders>
      <add entityId="https://idp.example.com"
           signOnUrl="https://idp.example.com/idp"
           logoutUrl="https://idp.example.com/logout"
           allowUnsolicitedAuthnResponse="true"
           binding="HttpRedirect">
        <signingCertificate fileName="Kentor.AuthServices.Tests.pfx" />
        <artifactResolutionServices>
          <add index="4660" location="http://localhost:13428/ars" />
        </artifactResolutionServices>
      </add>
    </identityProviders>
  </kentor.authServices>
</configuration>