<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.0-preview1-41102095947" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.0-preview1-41102095947" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="5.2.0-preview1-41102095947" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Xml" version="5.2.0-preview1-41102095947" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
</packages>