<!DOCTYPE html>
<html>
<head>
    <title>IdentityServer3 Sample Application</title>
	<meta charset="utf-8" />
    <style>
        #serverside
        {
            border: 1px solid black;
            width: 80%;

            height: 600px;
        }
    </style>
</head>
<body>
    <h1>IdentityServer3 Sample Application</h1>
    <p>
        This is a sample setup of IdentityServer3 with Kentor.AuthServices. The
        IdentityServer3 is running in the same application at <a href="/IdSrv3">
        /IdSrv3</a>.
    </p>

    <iframe id="serverside" src="ServerSide.cshtml"/>
</body>
</html>
