<!DOCTYPE html>
<html>
<head>
    <title>IdentityServer3 Sample Application</title>
	<meta charset="utf-8" />
    <style>
        #serverside
        {
            border: 1px solid black;
            width: 80%;

            height: 600px;
        }
    </style>
</head>
<body>
    <h1>IdentityServer3 Sample Application</h1>
    <p>
        This is a sample setup of IdentityServer3 with Kentor.AuthServices. The
        IdentityServer3 is running in the same application at <a href="/IdSrv3">
        /IdSrv3</a>.
    </p>

    <h1>Server Side Login</h1>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <span id="status">You are currently logged in.</span>

            <h2>Claims</h2>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                    {
                        <tr>
                            <td>@c.Type</td>
                            <td>@c.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span id="status">You are currently not logged in.</span>
        }
    </p>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <button onclick="location='/ServerSide-logout';">Logout</button>
        }
        else
        {
            <button onclick="location='/ServerSide-Login';">Login</button>
        }
        <button onclick="location.reload();">Refresh status</button>
    </p>
</body>
</html>
