<!DOCTYPE html>

<html>
<head>
    <title>Kentor.AuthServices Stub Idp</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
</head>
<body>
    <div id="main">
        <header>
            <h1>Kentor.AuthServices.StubIdp</h1>
            This is a free stub (or dummy) SAML2 identity provider that can be
            used for testing a SAML2 service provider implementation. The stub is
            part of the
            <a href="https://github.com/KentorIT/authservices">AuthServices</a>
            project by <a href="http://www.kentor.se">Kentor</a>.
        </header>
        @RenderBody()
    </div>
</body>
</html>
