# Remove the line below if you want to inherit .editorconfig settings from higher directories
# root = true

[*.cs]
file_header_template = Copyright (c) Sustainsys AB. All rights reserved.\nAny usage requires a valid license agreement with Sustainsys AB
